.p-login > .main {
    margin: 40px ;
    text-align: left;
    direction: ltr;
    color: rgb(41,80,109);
}

.p-login  {
    margin: 10px ;
  
}

.p-login button {
    font-weight: bold;
}


.p-login{
    border:2px solid rgb(41,80,109);
    border-radius: 10px;
} 
span.header-title{
    font-weight: bold;
    font-size: larger;
    color: rgb(41,80,109);
}