.p-login > .main {
    margin: 40px ;
    text-align: left;
    direction: ltr;
}

.p-login button {
    font-weight: bold;
}


.p-login{
    border:2px solid rgb(23,162,184);
    border-radius: 10px;
} 