.main-base-list{
    border: 2px solid rgb(23,162,184);
    border-radius: 10px;
    flex-grow: 10000;
    padding: 10px;
    
}

.container>h1{
    text-align: center;
}

.main-base-list h5.left-items{
    color: rgb(23,162,184);
    padding: 5px;
   text-decoration: underline;
}

.main-base-list .input
{
    background-color: rgb(237,242,242);
}

.main-base-list .form-control:focus
{
    background-color: rgb(237,242,242);
}
.container{
    margin:0px;
    padding: 0px;
    display: flex;
}
.btn-toolbar>.btn-group {
   
    /* writing-mode: vertical-rl;
    text-orientation: mixed; */
    writing-mode: vertical-lr; 
    transform: rotate(180deg);
}
