.category-list-main .nav-tabs
{
    transform: rotate(180deg); 
    writing-mode: vertical-rl;   
}

.category-list-main .nav-tabs>a{
    text-decoration: none; 
    color:rgb(41,80,109);
  }

  .category-list-main .nav-tabs>a:hover{
    color:rgb(41,80,109);
    background-color: rgb(241,241,230);
  }

  .category-list-main .nav-tabs>a.active{
    background-color:rgb(41,80,109);
    color: rgb(241,241,230);

  }
